/**********************************/
/************** BODY **************/
/**********************************/

html, body {
    background-image: url(../img/background.jpg); /*lien de l'image de fond*/
    background-position: center; /*centre l'image de fond*/
    background-size: cover; /*l'image prend tout l'écran même si elle la taille de l'image n'est pas la même que celle de l'écran (permet de s'adapter à toutes les tailles d'écrans)*/
    background-attachment: fixed; /*bloque l'imqge*/
    overflow-x: hidden; /*bloque le scroll horizontal*/
    box-sizing: border-box; /*l'image s'adapte aux bordures de l'écran*/
    margin: 0; /*annnule les marges extérieures automatiques*/
    padding: 0; /*annnule les marges intérieures automatiques*/
}


/**********************************/
/************** HOME **************/
/**********************************/


.gabarit {
    width: 100vw; /*la div gabarit fait la largeur de l'écran*/
    height: 100vh; /*la div gabarit fait la hauteur de l'écran*/
}

.logo {
    width: 100vw; /**/
    display: flex; /**/
    align-items: center; /**/
    justify-content: center; /**/
    position: absolute; /**/
    top: 7vh; /*marge de 7% de la taille de l'écran en haut*/
}

.img-logo {
    width: 25vw; /*le logo fait 25% de la taille de l'écran (s'adapte responsivement)*/
}

.symbole {
    display: flex; /*mode de disposition des éléments de la div*/
    justify-content: center; /*centre le logo en hauteur*/
    align-items: center; /*centre le logo en largeur*/
    width: 100vw; /**/
    height: 100vh; /**/
    position: absolute; /*la div gabarit fait la largeur de l'écran*/
    top: 0; /*la div commence bien en haut de l'écran*/
    left: 0; /*la div commence bien à gauche de l'écran*/
}

.symbole-link {
    display: flex; /**/
    justify-content: center; /**/
    align-items: center; /**/
}

.img-symbole {
    width: 50vw; /*taille du logo propotionel à la largeur de l'écran (pour la responsivité)*/
    animation: float-animation 4s ease-in-out infinite;
        /*animation permet de créer une animation
        float animation est le nom qu'on lui donne (pour le relier à ses paramètres plus bas)
        4s est la durée de l'animation 
        ease-in-out est le type de vitesse de l'animation
        infinite sert à répéter à l'infini l'animation*/
}

.rs {
    display: flex; /**/
    flex-direction: column; /*aligne tes éléments en colonne*/
    position: absolute; /**/
    right: 1vw; /*positionne les rs avec une marge de 1% é droite de l'écran*/
    align-items: center; /**/
    justify-content: center; /**/
    height: 100vh; /*permet de redéfinir la taille de la div pour être sûr que l'élément soit bien centré*/
}

.rs-link {
    display: flex; /**/
    width: 55px; /**/
    height: 55px; /**/
    align-items: center; /**/
    justify-content: center; /**/
    margin-top: 10px; /**/
    margin-bottom: 10px; /**/
}

.img-rs {
    width: 50px; /**/
    height: 50px; /**/
    opacity: 1; /*opacité de 1 (=100%) pour pouvoir la changer au hover*/
}

.menu {
    width: 100vw; /**/
    display: flex; /**/
    flex-direction: column; /**/
    position: absolute; /**/
    bottom: 1vw; /**/
    align-items: center; /**/
    justify-content: center; /**/
}

.menu-link {
    margin-bottom: 15px; /**/
    font: italic 1.2em "Arial", sans-serif; /*Arial en italique sans-serif (em est une unité qui permet au texte d'être proportionnel)*/
    text-decoration: none;
    color: black;
}

.img-sound-site {
    width: 20px; /**/
    height: 20px; /**/
    opacity: 1; /**/
}


/**********************************/
/************ ANIMATION ***********/
/**********************************/

@keyframes float-animation {
	0% {
		transform: translatey(0px); /*translation en y de 0px par rapport à la position originale de l'image*/
	}
	50% {
		transform: translatey(-20px); /*translation en y de 0px par rapport à la position originale de l'image*/
	}
	100% {
		transform: translatey(0px); /*translation en y : l'image revient à sa position de base*/
	}
}


/**********************************/
/************* HOVER **************/
/**********************************/

.img-rs:hover {
    cursor: pointer; /*la souris se transforme en main*/
    opacity: 0.7; /*l'opacité baisse à 70%*/
    scale: 1.05; /*la taille augmente de 0.5%*/
    transition: 0.3s; /*temps de l'animation*/
}

.img-sound-site:hover {
    cursor: pointer; /*la souris se transforme en main*/
    opacity: 0.7; /*l'opacité baisse à 70%*/
    scale: 1.05; /*la taille augmente de 0.5%*/
    transition: 0.3s; /*temps de l'animation*/
}

.menu-link:hover {
    cursor: pointer; /*la souris se transforme en main*/
    opacity: 0.8; /*l'opacité baisse à 70%*/
    scale: 1.01; /*la taille augmente de 0.5%*/
    transition: 0.2s; /*temps de l'animation*/
}